/* This is where styles are defined for your page. */
/* One style is provided as example. */
html{
    background-image: url(images/Xanadu_on_Map_of_Asia.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

h1, h2{
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: steelblue;
}

header{
    background-color: gold;
}

aside{
    background-color: aqua;
    max-width: 36rem;
    width: 50%;
    overflow: auto;
}

aside img{
    float: right;
    height: auto;
    object-fit: scale-down;
    max-height: 20em;
}

body #content{
    background-color: orange;
    text-align: center;
    width: 75%;
}

ul.poem{
    list-style-type: none;
    margin: 0;
}

.content-footer{
    background-color: lightgreen;
}

.page-footer{
    background-color: violet;
}